<html>
<body>
<form action = "http://localhost:5000/login"method = "post","get">
<p> temperature </p>
<p><input type = "text" name = "te"/></p>
<p> humidity </p>
<p><input type = "text" name = "hu"/></p>
<p> snowdepth </p>
<p><input type = "text" name = "sd"/></p>
<p> windspeed </p>
<p><input type = "text" name = "ws"/></p>
<label for = "month">choose month</label>
<select name = "m">
<option value = "march">march</option>
<option value = "april">april</option>
<option value = "june">june</option>
<option value = "may">may</option>
<option value = "febraury">febraury</option>
</select>
<p> <input type = "submit" value = "send"/></p>
</form>
<b>{{showcase}}</b>
</body>
</html>